body {
    font-family: "Myriad Pro"sans-serif;
}

h1,h2,h3 {
    color: #ffffff;
}
h4,h5,p,h6 {
    color:#222;
}

h1 {
    font-size: 178px;
    font-weight: 700;
}

h2 {
    font-size: 80px;
    font-weight: 700;

}

h3 {
    font-size: 60px;
    font-weight: 400;
}

h4 {
    font-size: 30px;
    font-weight: 400;
}

span {
    color: #ffc600;
}

a {
    text-decoration: none;
}

.wrapper {
    background: url(../img/background1.png) no-repeat center, rgba(8, 8, 15);
    background-size:cover, cover;
    width: 100%;
    max-height: 128vh;
}

.header {
    padding-top: 74px;
    display: block;
    padding-left: 65px;
}

.header p {
    font-size: 18px;
    font-weight: 400;
    padding-top: 12px;
    padding-bottom: 15px;
    color: #fff;
}

.menu {
    background: url(../img/Layer_5.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin-top: 64px;
    padding-top: 70px;
    padding-bottom: 495px;
    padding-left: 70px;
}
.link{
    padding-left: 0px;
    padding-top: 30px;
}
.nav a {
    color: #ffc600;
    font-size: 18px;
    padding-right: 35px;
}

.nav a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.mainSections{
    background:#161616;
}

.bgSection{
    background:#ffffff;
    padding-top: 36px;
}
.about col{
margin: 0;
padding: 0;
}
.about p {
    color: #717171;
    font-size: 30px;
    font-weight: 400;
    padding-top: 40px;
    font-size: 12px;
}

.about h3 {
    color: #000000;
    padding-bottom: 20px;
    
}

.sublime{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 0 auto;
}

.cards {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.cards h5 {
    color: #000000;
    padding-top: 24px;
    padding-bottom: 19px;
}

.cards p {
    font-size: 12px;
    color: #000000;
}

.feature{
    padding-bottom: 25px;
}

.feature h3{
    color:#222;
    padding-bottom: 10px;
}

.feature a {
    color: #000000;
    padding-right: 25px;
    padding-bottom: 26px;
}

.feature a:hover{
    border-bottom: #ffc800;
    min-width: 25px;
}

.project .col {
    padding-left: 0px;
    padding-right: 0px;
}

.project .col img {
    width: 100%;
    height: 100%;
}

.process{
    padding-top: 62px;
}
.process p{
    color: #595959;
    font-size: 14px;
}
.process h3{
    color: #000000;
    padding-bottom: 15px;
}
.stratery{
padding-top: 20px;
margin-bottom: 60px;
}
.stratery h4{
    font-weight: 700;
    font-size: 35px;
    padding-top: 27px;
}


.block{
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

.picture{
    display: flex;
    justify-content: flex-start;
    padding: 0;
}

.desk{
    display: flex;
    flex-direction:column;
    max-width: 450px;
}

.desk h4{
    padding-top: 50px;
}

.aside{
    max-width: 440px;
    display: flex;
    flex-direction: column;
    margin-left: 130px;
}

.ServicesProvided{
    background:url(../img/Layer_26.png),linear-gradient(to right, #744f6d, #31405f);
    min-height: 480px;
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover,cover;
    margin: 0;
    padding: 0;
    width: 100%;
}