body {
    font-family: "Myriad Pro"sans-serif;
}

h1,h2,h3 {
    color: #ffffff;
}

h4,h5,h6,p{
    color:#222;
}

h1 {
    font-size: 172px;
    font-weight: 700;
}

h2 {
    font-size: 80px;
    font-weight: 400;
}

h3{
    font-size: 60px;
    font-weight: 700;
}

h4 {
    font-size: 30px;
    font-weight: 700;
}

h5 {
    font-size: 18px;
    font-weight: 400;
}

span {
    color: #ffc600;
}

a {
    text-decoration: none;
}

.wrapper {
    background: url(../img/background1.png) no-repeat center, rgba(8, 8, 15);
    background-size:cover, cover;
    width: 100%;
}

#header {
    padding-top: 74px;
    display: block;
    padding-left: 65px;
}

#header p {
    font-size: 18px;
    font-weight: 400;
    padding-top: 12px;
    padding-bottom: 15px;
    color: #fff;
}

.menu {
    background: url(../img/Layer_5.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin-top: 64px;
    padding-top: 70px;
    padding-left: 70px;
    min-height: 650px;
    max-height: 650px;
}

.link{
    padding-left: 0px;
    padding-top: 30px;
}

.nav a {
    color: #ffc600;
    font-size: 18px;
    padding-right: 35px;
}

.nav a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.mainSections{
    background:#161616;
}

.bgSection{
    background:#ffffff;
    padding-top: 36px;
}

#about col{
    margin: 0;
    padding: 0;
}

#about p {
    color: #717171;
    font-size: 30px;
    font-weight: 400;
    padding-top: 40px;
    font-size: 12px;
}

#about h4 {
    margin-bottom: 0px;
}

#about h2 {
    color: #000000;
    padding-bottom: 20px;
    line-height: 50px;
}

#about h2:first-letter {
    color: #ffc600;
}

.sublime{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 0 auto;
}

.cards {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.cards h5 {
    color: #000000;
    padding-top: 24px;
    padding-bottom: 19px;
}

.cards p {
    font-size: 12px;
    color: #000000;
}

.feature{
    padding-bottom: 25px;
}

#feature h4{
    color:#222;
    padding-bottom: 10px;
}

#feature a {
    color: #000000;
    padding-right: 25px;
    padding-bottom: 26px;
}

#feature a:hover{
    border-bottom: #ffc800;
    min-width: 25px;
}

.project .col {
    padding-left: 0px;
    padding-right: 0px;
}

.project .col img {
    width: 100%;
    height: 100%;
}

#process{
    padding-top: 62px;
}

#process p{
    color: #595959;
    font-size: 14px;
}

#process h3{
    color: #000000;
    padding-bottom: 15px;
}

.stratery{
padding-top: 20px;
margin-bottom: 60px;
}

.stratery h4{
    font-weight: 700;
    font-size: 35px;
    padding-top: 27px;
}


.block{
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

.picture{
    display: flex;
    justify-content: flex-start;
    padding: 0;
}

.desk{
    display: flex;
    flex-direction:column;
    max-width: 450px;
}

.desk h4{
    padding-top: 50px;
}

.aside{
    max-width: 440px;
    display: flex;
    flex-direction: column;
    margin-left: 130px;
}

#ServicesProvided{
    background:url(../img/Layer_26.png),linear-gradient(to right, #744f6d, #31405f);
    min-height: 480px;
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover,cover;
    margin: 0;
    padding: 0;
    width: 100%;
}

#ServicesProvided h4{
    padding-top: 25px;
    color:#fff;

}

#ServicesProvided h5{
    color:#fff;
    font-size: 18px;
    text-align: left;
}

#ServicesProvided p{
    color: #ffffff;
    font-size: 10px;
    font-weight: 400;
    width: 225px;
    height: 64px;
}

#ServicesProvided .row{
    padding-right: 50px;
    padding-bottom: 75px;
    
}

#ourTeam{
    padding-top: 66px;
    width: 920px;
}

#ourTeam p{
    font-size: 16px;
    font-weight: 400;
}

.team{
    padding-top: 35px;
    padding-bottom: 120px;
    padding-right: 50px;
}

.team .col{
    margin: 19px;
}

.team .col img{
    width: 181px;
    height: 186px;
}

#Testimonials{
    background:#000000;
    min-height: 419px;
    display: block;
}

#Testimonials h4{
    padding-top: 55px;
    color:#fff;
    padding-bottom: 81px;
}

#Testimonials p{
    color:#fff;
    padding-left: 91px;
    width: 700px;
    font-weight: 400;
    font-size: 14px;
}

.john img{
    position: absolute;
    bottom: 10px;
    left: 760px;
    display: block;
}

#blog{
    text-align: left;
}

#blog h4{
    padding-bottom: 30px;
    padding-top: 25px;
    padding-left: 20px;
}

#blog p{
    padding-top: 5px;
    font-size: 12px;
}

#blog p span{
    font-size: 18px;
}

.links{
    padding-left: 60px;
    padding-bottom: 100px;
}

.links a{
    color:#222;
}

.links a:hover{
    color:#ffc600;
    text-decoration: none;
}

#blog .col{
    padding: 0;
    margin-right:  40px;
    margin-top: 20px;
}

.July{
    background:rgba(177,223,223);
    background-repeat: no-repeat;
}

.June{
    background: rgba(0,0,0);
    background-repeat: no-repeat;
}
.pic{
    padding-top: 20px;
}
.May{
    background-repeat:no-repeat;
}

.size{
    min-width: 180px;
    max-width: 180px;
    min-height: 206px;
    max-height:206px;
}

.maps{
    background:url(../img/Layer_52.png);
    min-height: 600px;
}

.head{
    background:#000;
    padding-top: 120px;
    padding-bottom: 45px;
}

#footer .nav-link{
    color:#fff;
    text-decoration: none;
}

#footer .nav-link:hover{
    color:#ffc600;
}

.avesomeGames{
    background:url(../img/Layer_47.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
}

.avesomeGames h2{
    padding-top: 345px;
    font-weight: bold;
}
