body{
    font-family: "Myriad Pro" sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
    color: #ffffff;
}

h1{
    font-size: 178px;
    font-weight: 700;
}

h2{
    font-size: 60px;
    font-weight: 700;
}

h3{
    font-size: 30px;
    font-weight: 400;
}

span{
    color: #ffc600;
}

a{
    text-decoration: none;
}

.wrapper{
   
    background: url(../img/bg2.png) no-repeat ;
    background: url(../img/background1.png) no-repeat;
    background-size: cover,cover;
}
.block{
    padding-top: 114px;
    display: block;
}

.block p{
    
    font-size: 18px;
    font-weight: 400;   
    padding-top: 22px;
    padding-bottom: 30px;
} 

.menu{
    background: url(../img/Layer_5.png) no-repeat;
    background-size: cover;
    margin-top: 64px;
    padding-bottom: 418px;
}

.nav a{
    color:#ffc600;
    display: flex;
    justify-content: flex-start;
    padding-right: 35px;
    padding-top: 50px;
}

.nav a:hover{
    color:#ffffff;
    text-decoration: underline;
}
